
@{
    ViewBag.Title = "Admin";
   
}

<h2>Админ Страна</h2>


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        <li>@Html.ActionLink("Додади Нов Дом", "Index", "Studentski_Dom")</li>
        <li>@Html.ActionLink("Додади соба", "Index", "Sobas")</li>
        <li>@Html.ActionLink("Додади корисник", "Index", "Korisniks")</li>
        <li>@Html.ActionLink("Додади сметка", "Index", "Smetkas")</li>
    </ul>
    
</div>

